.fondo{
    background-color: black;
}
#qs2{
    color: #fff;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;
    font-size: 30px;
}
#icon{
    text-align: center;
    color: #fff;
}
#th5{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400
}
#texto{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300
}
#dest{
    color: #fff;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 30px; 
}
#Contac{
    color: #fff;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 30px;
}
div.formato{
    color: white;
    margin-top: 3%;
    text-align: right;
    }
    aside{
        text-align: left;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
    }
    .icon{
        text-align: right;
    }
div.formato aside, .icon{
    display: inline-block;
    width: 80%;
    vertical-align: middle;
    padding: 1%;
    font-size: x-large;

}